<%layout("/layout/boilerPlate")%>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campground/<%= camp._id%>?_method=PUT"
      method="POST"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%= camp.title%>"
          required
        />
        <div class="valid-feedback">looks good</div>
        <div class="invalid-feedback">Not good</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%= camp.location%>"
          required
        />
        <div class="valid-feedback">looks good</div>
        <div class="invalid-feedback">Not good</div>
      </div>
      <!-- <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          value="<%= camp.image%>"
          required
        />
        <div class="valid-feedback">looks good</div>
        <div class="invalid-feedback">Not good</div>
      </div> -->
      <div class="mb-3">
        <label class="form-label" for="Price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-lable">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-lable"
            name="campground[price]"
            value="<%= camp.price%>"
            required
          />
          <div class="valid-feedback">looks good</div>
          <div class="invalid-feedback">Not good</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        >
        <%= camp.description%></textarea
        >
        <div class="valid-feedback">looks good</div>
        <div class="invalid-feedback">Not good</div>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Choose Image(s)...</label>
        <input
          class="form-control"
          type="file"
          id="formFile"
          name="image"
          multiple
        />
      </div>
      <% camp.images.forEach((img,i)=>{%>
      <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail" />
      <div class="form-check-inline">
        <input
          type="checkbox"
          id="image-<%= i %>"
          name="deleteImg[]"
          value="<%= img.filename %>"
        />
      </div>
      <label for="image-<%= i %>">Delete?</label>
      <% }) %>

      <div class="mb-3">
        <button class="btn btn-success">Update campground</button>
      </div>
    </form>
    <a href="/campground/<%= camp._id%>"> Campground</a>
  </div>
</div>
